<script lang="ts">
  import BottomNav from "../components/BottomNav.svelte";
  import { url, isActive, goto } from "@roxi/routify";
  import Logo from "../components/Logo.svelte";
  import PlayerStatus from "../components/PlayerStatus.svelte";

  const _urls = [
    ["./queue", "Playlista", "#7fc5bb"],
    ["./add", "Dodaj", "#0bf5cc"],
    ["./library", "Biblioteka", "#88f0d0"],
    ["./history", "Historia", "#a1fac3"]
  ];
  type NavbarUrls = {
    name: string;
    href: string;
    color: string;
    active: boolean;
  }[];
  let urls: NavbarUrls;
  $: urls = _urls.map(([path, name, color]) => ({
    name,
    href: $url(path),
    color,
    active: !!$isActive(path)
  }));

  function goToAdminPage() {
    $goto("/admin");
  }
</script>

<div id="root-app">
  <slot />
  <PlayerStatus />
  <div id="bottom-nav">
    <BottomNav {urls} />
  </div>
</div>

<Logo on:click={goToAdminPage} />

<style>
  :global(:root) {
    --track-col-min-width: 400px;
    --color-isabelline: #f4eded;
    --color-dark-lava: #4a4238;
    --color-school-main: #00c6b8;
    --bottom-navbar-height: 64px;
  }
  :global(#select-form) {
    min-width: max(25vw, 350px);
    max-width: 700px;
  }

  :global(.wrapped-tracks) {
    display: grid;
    gap: min(1em, 10px);
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--track-col-min-width, 300px), 1fr)
    );
    margin: 0 5vw 5vw 5vw;
    grid-gap: 3vmin;
  }

  :global(body) {
    min-height: 100vh;
    padding-bottom: calc(var(--bottom-navbar-height) + 27px);
    overflow-x: hidden;
  }

  #bottom-nav {
    height: 100%;
  }
</style>
