<script lang="ts">
  import TrackAddForm from "../forms/AddForm.svelte";
  import { params } from "@roxi/routify";
  let urlParams = $params;
  let passedTrackUrl: string;
  if ("trackUrl" in urlParams) {
    passedTrackUrl = urlParams["trackUrl"];
  }
</script>

<TrackAddForm {passedTrackUrl} />
