<script lang="ts">
  import { onDestroy, onMount } from "svelte";
  import { DateTime } from "luxon";
  import { baseUrl, breaksTimes, addTrackAPIUrl } from "../constants";
  import { trackUrl, playDate, playTime, breakTimesAvailable } from "../stores";
  import Notification from "../components/Notification.svelte";
  import {
    fetchData,
    getResponseAsJson,
    constructPlayingDatetime,
    checkBreakIsOver,
    getLeftTimeDuringBreaksOn
  } from "../utils";
  import Icon from "svelte-awesome";
  import { infoCircle } from "svelte-awesome/icons";

  export let passedTrackUrl: string;

  const todayDate = DateTime.now().toFormat("yyyy-LL-dd");
  const nextWeekDate = DateTime.now().plus({ week: 1 }).toFormat("yyyy-LL-dd");

  const addTrackToPlaylistResult: { success: boolean; info: string } = {
    success: null,
    info: ""
  };

  let leftTimeDuringBreaks = {};
  let leftTimeFetchError: string = "";

  function getClosestAvailableDate() {
    const [lastBreakTimeHour, lastBreakTimeMinute] = Object.keys(breaksTimes)
      .slice(-1)[0]
      .split(":");

    const lastBreakTime = DateTime.now().set({
      hour: parseInt(lastBreakTimeHour),
      minute: parseInt(lastBreakTimeMinute)
    });
    const now = DateTime.now();
    const diff = now.diff(lastBreakTime, "seconds").toObject()["seconds"];

    if (now.weekday > 5) {
      return now.plus({ week: 1 }).startOf("week").toFormat("yyyy-LL-dd");
    }
    if (diff > 0) {
      return now.plus({ day: 1 }).toFormat("yyyy-LL-dd");
    } else {
      return DateTime.now().toFormat("yyyy-LL-dd");
    }
  }

  function getFirstAvailableBreak() {
    for (const breakStartTime in $breakTimesAvailable) {
      if ($breakTimesAvailable[breakStartTime] === true) {
        return breakStartTime;
      }
    }
  }

  async function updatePlayingBreaksAvailability() {
    if (!$playDate) {
      return;
    }

    const result = await getLeftTimeDuringBreaksOn($playDate);
    if (result) {
      [leftTimeDuringBreaks, , leftTimeFetchError] = result;
    } else {
      leftTimeFetchError = "Błąd połączenia";
    }
    for (const breakStartTime in breaksTimes) {
      $breakTimesAvailable[breakStartTime] =
        checkPlayingHourAvailable(breakStartTime);
    }
  }

  function checkPlayingHourAvailable(breakStartTime: string): boolean {
    if (checkBreakIsOver($playDate, breakStartTime)) {
      return false;
    } else if (
      leftTimeDuringBreaks &&
      leftTimeDuringBreaks[breakStartTime] === 0
    ) {
      return false;
    }
    return true;
  }

  async function addTrackToPlaylist() {
    const fullUrl = new URL(addTrackAPIUrl, baseUrl).toString();
    const playingDatetime = constructPlayingDatetime($playDate, $playTime);
    const params = {
      "play-datetime": playingDatetime,
      "track-url": $trackUrl
    };

    const [response, errorMessage] = await fetchData(fullUrl, {
      method: "POST",
      body: JSON.stringify(params),
      timeout: 7000,
      headers: new Headers({
        "content-type": "application/json"
      })
    });

    if (!response) {
      addTrackToPlaylistResult.success = false;
      addTrackToPlaylistResult.info = errorMessage;
      return;
    }

    const [jsonResponse, jsonErrors] = await getResponseAsJson(response);
    if (!jsonResponse) {
      addTrackToPlaylistResult.success = false;
      addTrackToPlaylistResult.info = jsonErrors;
      return;
    }

    if (response.ok && jsonResponse["success"] === true) {
      addTrackToPlaylistResult.success = true;
      addTrackToPlaylistResult.info = jsonResponse["message"];
    } else {
      addTrackToPlaylistResult.success = false;
      addTrackToPlaylistResult.info = jsonResponse["message"];
    }
    if ("description" in jsonResponse) {
      addTrackToPlaylistResult.info += `. ${jsonResponse["description"]}`;
    }
  }

  const unsubscribePlayDate = playDate.subscribe(
    updatePlayingBreaksAvailability
  );

  onMount(() => {
    if (passedTrackUrl) {
      $trackUrl = passedTrackUrl;
    }
    if (!$playDate) {
      $playDate = getClosestAvailableDate();
    }

    for (const breakStartTime in breaksTimes) {
      $breakTimesAvailable[breakStartTime] =
        checkPlayingHourAvailable(breakStartTime);
    }
    $playTime = getFirstAvailableBreak();
  });

  onDestroy(() => {
    unsubscribePlayDate();

    if (addTrackToPlaylistResult.success) {
      trackUrl.set("");
    }
  });
</script>

<div id="main">
  <div>
    <h1 class="title">Dodaj utwór</h1>
  </div>
  <div class="request-notifications">
    {#if addTrackToPlaylistResult.info}
      <Notification
        type={addTrackToPlaylistResult.success ? "is-success" : "is-danger"}
        message={addTrackToPlaylistResult.info}
        cls="add-track-result"
      />
    {/if}
    {#if leftTimeFetchError}
      <Notification
        type={"is-warning"}
        message={"Nie udało się sprawdzić dostępnego czasu na przerwach. " +
          leftTimeFetchError}
      />
    {/if}
    {#if Object.values($breakTimesAvailable).every(v => v === false)}
      <Notification
        type={"is-warning"}
        message={"Wszystkie przerwy tego dnia upłynęły"}
      />
    {/if}
  </div>
  <div id="select-form">
    <form on:submit|preventDefault={addTrackToPlaylist}>
      <div id="track-url-field" class="field">
        <label class="label is-medium" for="track-url">
          Podaj adres utworu
        </label>
        <input
          class="input is-medium"
          id="track-url"
          required
          readonly={addTrackToPlaylistResult.success || !!passedTrackUrl}
          type="url"
          placeholder="url"
          bind:value={$trackUrl}
        />
      </div>

      <div class="field">
        <label class="label is-medium" for="play-date">
          Wskaż datę odtworzenia
        </label>
        <input
          class="input is-medium"
          id="play-date"
          required
          readonly={addTrackToPlaylistResult.success}
          min={todayDate}
          max={nextWeekDate}
          type="date"
          bind:value={$playDate}
        />
      </div>

      <div class="two-columns">
        <div class="left-column">
          <div class="field">
            <label class="label is-medium" for="play-date">
              Wskaż godzinę
            </label>
            <div class="select">
              <select
                id="play-time-select"
                required
                disabled={addTrackToPlaylistResult.success}
                bind:value={$playTime}
              >
                {#each Object.keys(breaksTimes) as breakTime}
                  {#if leftTimeDuringBreaks instanceof Object && breakTime in leftTimeDuringBreaks}
                    <option
                      disabled={!$breakTimesAvailable[breakTime]}
                      value={breakTime}
                    >
                      {breakTime}{0 < leftTimeDuringBreaks[breakTime] &&
                      leftTimeDuringBreaks[breakTime] <= 60
                        ? " ⏳"
                        : ""}
                    </option>
                  {:else}
                    <option value={breakTime}>{breakTime} ❓</option>
                  {/if}
                {/each}
              </select>
            </div>
          </div>
          <button
            id="left-time-checker"
            type="button"
            class="button is-info is-light is-small"
            disabled={!$playDate}
            on:click={updatePlayingBreaksAvailability}
          >
            Sprawdź czas
          </button>
          <span
            class="breaks-tooltip"
            data-tooltip="Godziny przerw, na których została wolna mniej niż minuta, mają klepsydrę ⏳ obok"
          >
            <Icon
              data={infoCircle}
              scale={2}
              style={"color: hsl(0, 0%, 21%)"}
            />
          </span>
        </div>
        <div class="right-column">
          <div class="field">
            <button
              class="button is-primary is-large"
              disabled={addTrackToPlaylistResult.success}
              type="submit"
            >
              <strong> Wyślij </strong>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<style>
  .two-columns {
    columns: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80vw;
  }
  .left-column {
    display: inline-block;
  }
  #left-time-checker {
    font-weight: 500;
  }

  .title {
    margin: 1.5rem 5vw;
  }

  input {
    max-width: 90vw;
  }

  #select-form {
    margin: 1.5rem 5vw;
  }

  .select:not(.is-multiple):not(.is-loading)::after {
    z-index: unset;
  }
  .request-notifications {
    margin: 1.5rem 5vw;
  }
  .breaks-tooltip {
    position: relative;
  }

  .breaks-tooltip::before,
  .breaks-tooltip::after {
    --scale: 0;
    --arrow-size: 20px;
    --tooltip-color: hsl(0, 0%, 21%);

    position: absolute;
    top: 1.25rem;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y, 0))
      scale(var(--scale));
    transition: 150ms transform;
    transform-origin: top center;
  }

  .breaks-tooltip::before {
    --translate-y: var(--arrow-size);

    content: attr(data-tooltip);
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    text-align: center;
    width: max-content;
    max-width: 15rem;
    background: var(--tooltip-color);
  }

  .breaks-tooltip:hover::before,
  .breaks-tooltip:hover::after {
    --scale: 1;
    z-index: 10;
  }

  .breaks-tooltip::after {
    --translate-y: calc(-1 * var(--arrow-size));

    content: "";
    border: var(--arrow-size) solid transparent;
    border-bottom-color: var(--tooltip-color);
    transform-origin: bottom center;
  }
</style>
