<script lang="ts">
  import { fetchJsonResponse } from "../utils";
  import Track from "../components/Track.svelte";
  import { baseUrl, listHistoryAPIUrl } from "../constants";
  import LoadingWidget from "../components/LoadingWidget.svelte";
  import Notification from "../components/Notification.svelte";
  import { DateTime } from "luxon";
  import { historyPlayDate } from "../stores";

  const thirtyDaysAgoDate = DateTime.now()
    .minus({ months: 1 })
    .toFormat("yyyy-LL-dd");
  const todayDate = DateTime.now().toFormat("yyyy-LL-dd");

  if (!$historyPlayDate) {
    const now = DateTime.now();
    if (now.weekday > 5) {
      $historyPlayDate = now
        .startOf("week")
        .plus({ day: 4 })
        .toFormat("yyyy-LL-dd");
    } else {
      $historyPlayDate = todayDate;
    }
  }

  async function getHistoryTracksList() {
    const url = new URL(listHistoryAPIUrl, baseUrl);
    const queryParams = {
      "play-date": $historyPlayDate
    };

    url.search = new URLSearchParams(queryParams).toString();
    const [data, , message] = await fetchJsonResponse(url, {
      timeout: 7000
    });
    if (data) {
      return data;
    } else {
      throw new Error(message);
    }
  }
  let promise = getHistoryTracksList();

  function handleChangeListReq() {
    promise = getHistoryTracksList();
  }
</script>

<div id="main">
  <div id="select-form">
    <h1 class="title">Historia odtwarzania</h1>
    <div class="field">
      <label class="label is-medium" for="play-date">Wskaż datę</label>
      <input
        class="input is-large"
        id="play-date"
        required
        min={thirtyDaysAgoDate}
        max={todayDate}
        type="date"
        bind:value={$historyPlayDate}
        on:change={handleChangeListReq}
      />
    </div>
    <h2 class="subtitle">
      <p class="tracks-scheduled-on">
        Utwory odtwarzane w
        <span style="display: inline-flex">
          <time datetime={$historyPlayDate}>
            {DateTime.fromISO($historyPlayDate)
              .setLocale("pl")
              .toLocaleString(DateTime.DATE_HUGE)}
          </time>
          <span>:</span>
        </span>
      </p>
    </h2>
  </div>
  {#if promise}
    {#await promise}
      <LoadingWidget />
    {:then response}
      {#if response instanceof Array}
        {#if response.length === 0}
          <Notification type={"is-info"} message={"Brak utworów"} />
        {:else}
          <div class="wrapped-tracks">
            {#each response as track}
              {#if track}
                <Track
                  status={null}
                  duration={track["duration"].toString()}
                  title={track["title"]}
                  trackUrl={track["trackUrl"]}
                  datetime={track["datetime"]}
                />
              {/if}
            {/each}
          </div>
        {/if}
      {/if}
    {:catch error}
      <Notification type={"is-danger"} message={error.message} />
    {/await}
  {/if}
</div>

<style>
  .subtitle {
    margin-top: 1em;
  }
  .tracks-scheduled-on {
    max-width: 90vw;
    font-weight: 600;
  }
  .title {
    max-width: 70vw;
  }
  input {
    max-width: 80vw;
  }
  #select-form {
    margin: 1.5rem 5vw;
  }
</style>
