<script lang="ts">
  import { fetchJsonResponse } from "../utils";
  import Track from "../components/Track.svelte";
  import {
    isAdmin,
    searchOffset,
    trackStatusRejected,
    trackStatusPendingApprove,
    trackStatusAccepted
  } from "../stores";

  import { baseUrl, listTracksAPIUrl } from "../constants";
  import LoadingWidget from "../components/LoadingWidget.svelte";
  import Notification from "../components/Notification.svelte";
  import SearchOffsetDecrementer from "../components/SearchOffsetDecrementer.svelte";
  import SearchOffsetIncrementer from "../components/SearchOffsetIncrementer.svelte";
  import { onMount } from "svelte";

  let searchPhrase = "";
  let downloaded: string = "";
  let hasNextPage = true;
  let lastRequestParams = {};
  let foundTracksCount = 0;

  let promisePending = false;
  let tracksFetchErrorMessage = "";
  let tracksSuccessfullyFetchedNoun = "";
  let fetchedTracks = [];

  let decrementButtonIsDisabled = true;

  const queryParams: {
    downloaded?: boolean;
    search?: string;
    "show-accepted": boolean;
    "show-pending-approve": boolean;
    offset: number;
  } = {
    offset: $searchOffset || 0,
    "show-accepted": $trackStatusAccepted,
    "show-pending-approve": $trackStatusAccepted
  };

  async function getTracksList() {
    const url = new URL(listTracksAPIUrl, baseUrl);

    if (downloaded !== "") {
      queryParams["downloaded"] = downloaded === "true";
    } else {
      delete queryParams["downloaded"];
    }
    queryParams["show-accepted"] = $trackStatusAccepted;
    queryParams["show-pending-approve"] = $trackStatusPendingApprove;
    if ($isAdmin) {
      queryParams["show-rejected"] = $trackStatusRejected;
    }

    if (searchPhrase) {
      queryParams["search"] = searchPhrase;
    } else {
      delete queryParams["search"];
    }

    lastRequestParams["offset"] = queryParams["offset"];
    if (JSON.stringify(lastRequestParams) !== JSON.stringify(queryParams)) {
      $searchOffset = 0;
    }
    queryParams["offset"] = $searchOffset;

    url.search = Object.entries(queryParams)
      .map(
        ([key, val]) =>
          `${encodeURIComponent(key)}=${encodeURIComponent(val.toString())}`
      )
      .join("&");

    lastRequestParams = { ...queryParams };

    return fetchJsonResponse(url, { timeout: 7000 });
  }

  async function handleChangeQueryParameters() {
    decrementButtonIsDisabled = $searchOffset === 0;
    tracksFetchErrorMessage = "";
    hasNextPage = false;
    foundTracksCount = 0;
    fetchedTracks = [];

    promisePending = true;
    const [data, , message] = await getTracksList();
    promisePending = false;

    if (!data || !data["success"]) {
      tracksFetchErrorMessage =
        "Nie udało się pobrać biblioteki utworów. " + message;
      return;
    }
    hasNextPage = data["hasNext"];
    foundTracksCount = data["count"];
    const lastTracksCountDigit = parseInt(foundTracksCount.toString().at(-1));

    if (lastTracksCountDigit === 1) {
      tracksSuccessfullyFetchedNoun = "utwór";
    } else if (1 < lastTracksCountDigit && lastTracksCountDigit < 5) {
      tracksSuccessfullyFetchedNoun = "utwory";
    } else {
      tracksSuccessfullyFetchedNoun = "utworów";
    }
    fetchedTracks = data["tracks"];
  }

  onMount(async () => {
    await handleChangeQueryParameters();
  });
</script>

<div id="main">
  <div id="left-side">
    <div>
      <h1 class="title">Lista utworów</h1>
    </div>
    <div id="select-form" class="section">
      <form on:submit|preventDefault={handleChangeQueryParameters}>
        <div id="text-search-field" class="field">
          <label class="track-search" for="search-phrase"
            >Wpisz szukaną frazę:</label
          >
          <input
            id="search-phrase"
            class="input is-large"
            bind:value={searchPhrase}
            placeholder="Czerwone Gitary"
            type="search"
          />
        </div>

        <fieldset id="track-statuses-chooser">
          <legend>Wyświetl statusy:</legend>
          <div>
            <input
              type="checkbox"
              id="track-pending-approve"
              name="track-statuses"
              bind:checked={$trackStatusPendingApprove}
            />
            <label class="track-status" for="track-pending-approve">
              oczekujące
            </label>
          </div>
          <div>
            <input
              type="checkbox"
              id="track-accepted"
              name="track-statuses"
              bind:checked={$trackStatusAccepted}
            />

            <label class="track-status" for="track-accepted">
              zaakceptowane
            </label>
          </div>
          {#if $isAdmin}
            <div>
              <input
                type="checkbox"
                id="track-rejected"
                name="track-statuses"
                bind:checked={$trackStatusRejected}
              />
              <label class="track-status" for="track-rejected">odrzucone</label>
            </div>
          {/if}
        </fieldset>

        <fieldset>
          <div>
            <input
              id="tracks-all"
              type="radio"
              bind:group={downloaded}
              name="radio-downloaded"
              value=""
              checked
            />
            <label class="track-status" for="tracks-all">wszystkie</label>
          </div>
          <div>
            <input
              id="tracks-only-downloaded"
              type="radio"
              bind:group={downloaded}
              name="radio-downloaded"
              value="true"
            />
            <label class="track-status" for="tracks-only-downloaded">
              gotowe do odtworzenia
            </label>
          </div>
        </fieldset>

        <div class="clickable">
          <button
            id="track-search-button"
            class="button is-primary is-medium"
            type="submit"
          >
            Wyszukaj utwory
          </button>
          {#if fetchedTracks}
            <SearchOffsetDecrementer
              on:click={handleChangeQueryParameters}
              isDisabled={decrementButtonIsDisabled}
            />
            <SearchOffsetIncrementer
              on:click={handleChangeQueryParameters}
              {hasNextPage}
            />
          {/if}
        </div>
      </form>
    </div>
    {#if fetchedTracks && fetchedTracks.length > 0}
      <div class="tracks-count">
        <p>
          Znaleziono łącznie {foundTracksCount}
          {tracksSuccessfullyFetchedNoun}
        </p>
      </div>
      <div class="offset-number">
        <p>
          Strona: <b>{$searchOffset + 1}</b>
        </p>
      </div>
    {/if}
  </div>

  {#if promisePending}
    <LoadingWidget />
  {:else if tracksFetchErrorMessage}
    <Notification type={"is-danger"} message={tracksFetchErrorMessage} />
  {:else if foundTracksCount === 0}
    <Notification type={"is-info"} message={"Brak utworów"} />
  {:else if fetchedTracks}
    <div class="wrapped-tracks">
      {#each fetchedTracks as track}
        <Track
          duration={track["duration"].toString()}
          title={track["title"]}
          trackUrl={track["trackUrl"]}
          status={track["status"]}
          datetime={null}
        />
      {/each}
    </div>
  {/if}
</div>

<style>
  .clickable {
    display: flex;
    justify-content: space-evenly;
  }
  .offset-number {
    text-align: center;
    font-size: 1.5rem;
    margin: 2vmin;
  }

  .tracks-count p {
    text-align: center;
    font-size: 1.3rem;
    margin: 2vmin;
  }

  #select-form {
    padding-bottom: 0;
  }
  .title {
    padding: 1.5rem 1.5rem 0.1rem 1.5rem;
  }
  .section {
    padding: 0.25rem 1.5rem 2rem 1.5rem;
  }
  legend {
    font-size: 1.25rem;
    font-weight: 700;
  }
  .track-search {
    font-weight: 600;
    margin: 1rem 0rem;
  }
  .track-status {
    font-size: 1.5rem;
  }
  #search-phrase {
    margin: 0.7rem 0;
    max-width: max(30vw, 400px);
  }

  #track-search-button {
    font-weight: 600;
    font-size: 1.3rem;
    margin: 0.8rem 0;
  }
  #text-search-field {
    display: inline-block;
    margin-top: 3vh;
  }

  input[type="checkbox"],
  input[type="radio"] {
    transform: scale(1.4, 1.4);
    margin-right: 0.75em;
    vertical-align: baseline;
    margin-left: 4px;
  }

  .track-search {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .wrapped-tracks {
    display: grid;
    gap: min(1em, 10px);
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--track-col-min-width, 300px), 1fr)
    );
    margin: 0 5vw 5vw 5vw;
  }

  @media (min-aspect-ratio: 6/5) {
    input[type="checkbox"],
    input[type="radio"] {
      transform: scale(1.7, 1.7);
    }
  }
  /* --mobileToDesktopWidth */
  @media (min-width: 900px) {
    :root {
      --track-col-min-width: 370px;
    }
    .wrapped-tracks {
      max-width: 70vw;
    }
  }
  @media (min-width: 800px) {
    .section,
    .title {
      margin: min(1vh, 20px) 2vw;
    }
    #main {
      display: flex;
    }
    .wrapped-tracks {
      margin: 7rem 1rem 1rem 1rem;
    }
  }

  :root {
    --track-col-min-width: 300px;
    --mobileToDesktopWidth: 800px;
  }
</style>
