<script lang="ts">
  import { fetchJsonResponse } from "../utils";
  import Track from "../components/Track.svelte";
  import { baseUrl, listQueueAPIUrl } from "../constants";
  import LoadingWidget from "../components/LoadingWidget.svelte";
  import Notification from "../components/Notification.svelte";
  import { DateTime } from "luxon";
  import { queuePlayDate } from "../stores";

  const todayDate = DateTime.now().toFormat("yyyy-LL-dd");
  const nextWeekDate = DateTime.now().plus({ week: 1 }).toFormat("yyyy-LL-dd");

  if (!$queuePlayDate) {
    const now = DateTime.now();
    if (now.weekday > 5) {
      $queuePlayDate = now
        .plus({ week: 1 })
        .startOf("week")
        .toFormat("yyyy-LL-dd");
    } else {
      $queuePlayDate = todayDate;
    }
  }

  async function getTracksList() {
    const url = new URL(listQueueAPIUrl, baseUrl);
    const queryParams = {
      "play-date": $queuePlayDate
    };

    url.search = new URLSearchParams(queryParams).toString();
    const [data, , message] = await fetchJsonResponse(url, { timeout: 7000 });
    if (data) {
      return data;
    } else {
      throw new Error(message);
    }
  }
  let promise = getTracksList();

  function handleChangeListReq() {
    promise = getTracksList();
  }
</script>

<div id="main">
  <div id="select-form">
    <h1 class="title">Kolejka utworów</h1>
    <div class="field">
      <label class="label is-medium" for="play-date">Wskaż datę</label>
      <input
        class="input is-large"
        id="play-date"
        required
        min={todayDate}
        max={nextWeekDate}
        type="date"
        bind:value={$queuePlayDate}
        on:change={handleChangeListReq}
      />
    </div>
    <h2 class="subtitle">
      <p class="tracks-scheduled-on">
        Utwory zaplanowane na
        <span style="display: inline-flex">
          <time datetime={$queuePlayDate}>
            {DateTime.fromISO($queuePlayDate)
              .setLocale("pl")
              .toLocaleString(DateTime.DATE_HUGE)}
          </time>
          <span>:</span>
        </span>
      </p>
    </h2>
  </div>
  {#if promise}
    {#await promise}
      <LoadingWidget />
    {:then response}
      {#if response instanceof Array}
        {#if response.length === 0}
          <Notification
            type={"is-info"}
            message={"Brak utworów"}
            cls={"tracks-fetch-result"}
          />
        {:else}
          <div class="wrapped-tracks">
            {#each response as track}
              {#if track}
                <Track
                  status={null}
                  duration={track["duration"].toString()}
                  title={track["title"]}
                  trackUrl={track["trackUrl"]}
                  datetime={track["datetime"]}
                />
              {/if}
            {/each}
          </div>
        {/if}
      {/if}
    {:catch error}
      <Notification
        type={"is-danger"}
        message={error.message}
        cls={"tracks-fetch-result"}
      />
    {/await}
  {/if}
</div>

<style>
  .subtitle {
    margin-top: 1em;
  }
  .tracks-scheduled-on {
    max-width: 90vw;
    font-weight: 600;
  }
  .title {
    max-width: 70vw;
  }
  input {
    max-width: 80vw;
  }

  #select-form {
    margin: 1.5rem 5vw;
  }
</style>
