<script>
  export let urls;
  let linkElems = [];
  let overlay;
  let clientWidth;
  $: urlsWithElem = linkElems.map((elem, i) => ({ ...urls[i], elem }));
  $: activeUrl = urlsWithElem.find(({ active }) => active);
  $: if (overlay && clientWidth && activeUrl)
    copyDimensions(activeUrl.elem, overlay);
  $: color = activeUrl && activeUrl.color;

  function copyDimensions(source, target) {
    target.style.left = source.offsetLeft + "px";
    target.style.top = source.offsetTop + "px";
    target.style.width = source.clientWidth + "px";
    target.style.height = source.clientHeight + "px";
  }

  const saveElement = el => (linkElems = [...linkElems, el]);
</script>

<nav bind:clientWidth>
  {#each urls as { name, active, href }}
    <a id={name.toLowerCase()} {href} class:active use:saveElement>
      {name}
    </a>
  {/each}
  <div class="overlay" bind:this={overlay} style="background-color: {color}" />
</nav>

<style>
  nav {
    width: 100vw;
    background: white;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-evenly;
  }
  a {
    font-size: max(2vmax, 4.5vmin);
    line-height: var(--bottom-navbar-height);
    font-weight: 700;
    color: #aaa;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 10;
    transition: all 0.8s;
  }
  a.active {
    color: aliceblue;
  }
  .overlay {
    position: absolute;
    transition: 0.3s all;
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
  }
</style>
