<script lang="ts">
  import { deleteTrackFromQueue } from "../utils";
  import Icon from "svelte-awesome";
  import { check, times } from "svelte-awesome/icons";
  import { deleteTrackFromQueueAPIUrl } from "../constants";
  import { DateTime } from "luxon";
  export let trackUrl: string;
  export let datetime: string;

  let promisePending = false;
  let response: Response;

  async function deleteTrack() {
    const isoDatetime = DateTime.fromHTTP(datetime).toISO();
    const promise = deleteTrackFromQueue(
      deleteTrackFromQueueAPIUrl,
      trackUrl,
      isoDatetime
    );
    promisePending = true;
    response = await promise;
    promisePending = false;
  }
</script>

<button
  class="button is-medium is-warning
  {promisePending ? 'is-loading' : ''} 
  {!!response ? 'is-light is-outlined' : ''}"
  disabled={!!response}
  on:click={deleteTrack}
>
  {#if response}
    {#if response.ok}
      <Icon data={check} scale={2} style={"margin-right: 5px"} />
      Usunięto
    {:else}
      <Icon data={times} scale={2} style={"margin-right: 5px"} />
      Błąd
    {/if}
  {:else}
    Usuń
  {/if}
</button>

<style>
  .button {
    color: var(--color-dark-lava);
    font-weight: 600;
  }
</style>
