<script lang="ts">
  import { informErrorHasBeenFixed } from "../utils";
  import { trackErrorFixedInfoSuccess } from "../stores";

  let promisePending = false;

  async function handleClick() {
    const promise = informErrorHasBeenFixed();
    promisePending = true;
    await promise;
    promisePending = false;
  }
</script>

<button
  class="button is-dark is-large 
    {promisePending ? 'is-loading' : ''} "
  disabled={$trackErrorFixedInfoSuccess === true}
  on:click={handleClick}
>
  Rozwiązano problem
</button>
