<script lang="ts">
  import { loginUri } from "../constants";
  import { isAdmin, adminAuthenticatedMessage } from "../stores";
  import { fetchJsonResponse } from "../utils";

  async function handleCredentialResponse(evt) {
    const gsiResponseCredential = evt.detail;
    const [authByServerResponse, statusCode, errorMessage] =
      await fetchJsonResponse(loginUri, {
        method: "POST",
        body: JSON.stringify({ credential: gsiResponseCredential }),
        headers: new Headers({
          "content-type": "application/json"
        }),
        timeout: 7000
      });
    if (
      "success" in authByServerResponse &&
      typeof authByServerResponse["success"] === "boolean"
    ) {
      if (statusCode === 200 && authByServerResponse["success"] === true) {
        isAdmin.markAsAuthorized();
      } else {
        isAdmin.reset();
      }
    } else {
      isAdmin.reset();
      $adminAuthenticatedMessage = errorMessage;
    }
    if (
      "message" in authByServerResponse &&
      typeof authByServerResponse["message"] === "string"
    ) {
      $adminAuthenticatedMessage = authByServerResponse["message"];
    }
    if (
      "description" in authByServerResponse &&
      "credential" in authByServerResponse["description"] &&
      typeof authByServerResponse["description"]["credential"] === "string"
    ) {
      $adminAuthenticatedMessage += authByServerResponse["message"];
    }
  }
</script>

<svelte:head>
  <script lang="ts">
    function notifyGSIResponse(GSIResponse) {
      const GSICompletedEvent = new CustomEvent("gsiResp", {
        detail: GSIResponse.credential
      });
      window.dispatchEvent(GSICompletedEvent);
    }
  </script>
  <script src="https://accounts.google.com/gsi/client" async defer>
  </script>
</svelte:head>

<svelte:window on:gsiResp={handleCredentialResponse} />

<div
  id="g_id_onload"
  data-client_id={import.meta.env.VITE_GSI_CLIENT_ID}
  data-context="signin"
  data-ux_mode="popup"
  data-callback="notifyGSIResponse"
  data-auto_prompt="false"
/>

<div
  class="g_id_signin"
  data-type="standard"
  data-shape="rectangular"
  data-theme="outline"
  data-text="signin_with"
  data-size="large"
  data-locale="pl"
  data-logo_alignment="left"
/>

<style>
  .g_id_signin {
    max-width: 300px;
    margin: 0 auto;
  }
</style>
