<div class="section">
  <button class="button is-large is-info is-loading">Czekaj...</button>
</div>

<style>
  @media (max-width: 799px) {
    .section {
      display: flex;
      justify-content: center;
    }
  }
</style>
