<script lang="ts">
  export let message = "Wystąpił błąd";
  export let type = "is-danger";
  export let cls = "";
</script>

<div class="section">
  <div class="notification {type} {cls}"><strong> {message} </strong></div>
</div>

<style>
  .notification {
    max-width: 500px;
    font-size: 1.3em;
    margin: auto;
    text-align: center;
  }
  .section {
    padding: 1.5rem;
  }
  .top-margined {
    margin-top: 5rem;
  }
</style>
