<script lang="ts">
  import { onDestroy, onMount } from "svelte";
  import { musicStatusNotificationUri } from "../constants";
  import {
    playerManuallyStopped,
    playerErrorOccured,
    playerTrackTitle
  } from "../stores";

  let playerStatusClass = "frontent-error-occured";
  let playerStatusText = "Brak danych";
  let currentlyDuringBreak = false;

  function updateStatusBar(messagesDict) {
    for (const key in messagesDict) {
      switch (key) {
        case "manuallyStopped": {
          $playerManuallyStopped = messagesDict[key];
          break;
        }
        case "errorOccured":
          $playerErrorOccured = messagesDict[key];
          break;
        case "trackUrl":
          const newTrackTitle = messagesDict["title"];
          if (newTrackTitle) {
            $playerTrackTitle = newTrackTitle;
            currentlyDuringBreak = true;
          } else {
            $playerTrackTitle = "";
            currentlyDuringBreak = messagesDict["duringBreak"];
          }
          break;
        case "notifyServer":
          if (messagesDict[key] === "stopping") {
            playerStatusText = "Serwer powiadamiający się restartuje";
          } else {
            playerStatusText = messagesDict[key];
          }
          break;
        default:
          playerStatusText = key + messagesDict[key];
      }
    }

    if ($playerManuallyStopped === true) {
      playerStatusClass = "manually-stopped";
      playerStatusText = "Odtwarzanie jest ręcznie zatrzymane";
    } else if ($playerErrorOccured === true) {
      playerStatusClass = "error-occured-during-playing";
      playerStatusText = "Wystąpił systemowy błąd podczas odtwarzania muzyki";
    } else if ($playerTrackTitle) {
      playerStatusClass = "track-is-playing";
      playerStatusText = $playerTrackTitle;
    } else if (currentlyDuringBreak) {
      playerStatusClass = "no-track-scheduled";
      playerStatusText = "Nie zaplanowano kolejnego utworu";
    } else {
      playerStatusClass = "not-during-break";
      playerStatusText = "Muzykę odtwarzamy tylko podczas przerw";
    }
  }

  let playerStatusEventSource;
  onMount(() => {
    playerStatusEventSource = new EventSource(musicStatusNotificationUri);
    playerStatusEventSource.onmessage = event => {
      const messages = event.data;
      const messagesDict = JSON.parse(messages);
      updateStatusBar(messagesDict);
    };
    playerStatusEventSource.onerror = error => {
      playerStatusClass = "frontent-error-occured";
      playerStatusText = `Błąd połączenia; readyState: ${playerStatusEventSource.readyState}; url: ${playerStatusEventSource.url}`;
    };
  });
  onDestroy(() => {
    if (playerStatusEventSource instanceof EventSource) {
      playerStatusEventSource.close();
    }
  });
</script>

<div id="player-status" class={playerStatusClass}>
  <p id="status-text">
    {playerStatusText}
  </p>
</div>

<style>
  #player-status {
    width: 100vw;
    display: flex;
    position: fixed;
    bottom: 64px;
    left: 0;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    color: aliceblue;
    font-weight: 700;
    font-size: 1.1rem;
  }
  #player-status.error-occured-during-playing {
    background-color: indianred;
  }
  #player-status.track-is-playing {
    background-color: #0234d9;
  }
  #player-status.no-track-scheduled {
    background-color: #0234d9a1;
  }
  #player-status.manually-stopped {
    background-color: #c74200;
  }
  #player-status.not-during-break {
    background-color: #a1003e;
  }
  #player-status.frontent-error-occured {
    background-color: #0a0a0a;
  }
</style>
