<script lang="ts">
  import { manageTrack } from "../utils";
  import Icon from "svelte-awesome";
  import { rejectTrackAPIUrl } from "../constants";
  import { check, times } from "svelte-awesome/icons";

  export let trackUrl: string;

  let promisePending = false;
  let response: Response;

  async function rejectTrack() {
    const promise = manageTrack(rejectTrackAPIUrl, trackUrl);
    promisePending = true;
    response = await promise;
    promisePending = false;
  }
</script>

<button
  class="button is-medium is-danger 
  {promisePending ? 'is-loading' : ''} 
  {!!response ? 'is-light is-outlined' : ''}"
  disabled={!!response}
  on:click={rejectTrack}
>
  {#if response}
    {#if response.ok}
      <Icon data={check} scale={2} style={"margin-right: 5px"} />
      Odrzucono
    {:else}
      <Icon data={times} scale={2} style={"margin-right: 5px"} />
      Błąd
    {/if}
  {:else}
    Odrzuć
  {/if}
</button>

<style>
  .button {
    color: var(--color-isabelline);
    font-weight: 600;
  }
</style>
