<script>
  import { searchOffset } from "../stores";
  import Icon from "svelte-awesome";
  import { arrowCircleRight } from "svelte-awesome/icons";

  export let hasNextPage = true;

  function incrementOffset() {
    searchOffset.update(n => n + 1);
  }
</script>

<button
  id="increment-offset-btn"
  disabled={hasNextPage === false}
  class="arrow-btn"
  on:click={incrementOffset}
>
  <Icon data={arrowCircleRight} scale={2.5} />
</button>

<style>
  .arrow-btn {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
</style>
