<script>
  import { searchOffset } from "../stores";
  import Icon from "svelte-awesome";
  import { arrowCircleLeft } from "svelte-awesome/icons";

  export let isDisabled = true;
  function decrementOffset() {
    if ($searchOffset <= 0) {
      return;
    }
    searchOffset.update(n => n - 1);
  }
</script>

<button
  id="decrement-offset-btn"
  disabled={isDisabled}
  class="arrow-btn"
  on:click={decrementOffset}
>
  <Icon data={arrowCircleLeft} scale={2.5} />
</button>

<style>
  .arrow-btn {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
</style>
