<script lang="ts">
  import { startPlayingMusic } from "../utils";
  import { trackStartPlayingSuccess } from "../stores";

  let promisePending = false;

  async function handleClickToStart() {
    const promise = startPlayingMusic();
    promisePending = true;
    await promise;
    promisePending = false;
  }
</script>

<button
  class="button is-primary is-large 
  {promisePending ? 'is-loading' : ''} "
  disabled={$trackStartPlayingSuccess === true}
  on:click={handleClickToStart}
>
  Zacznij odtwarzanie
</button>
