<script lang="ts">
  import { stopPlayingMusic } from "../utils";
  import { trackStopPlayingSuccess } from "../stores";

  let promisePending = false;

  async function handleClickToStop() {
    const promise = stopPlayingMusic();
    promisePending = true;
    await promise;
    promisePending = false;
  }
</script>

<button
  class="button is-danger is-large 
  {promisePending ? 'is-loading' : ''} "
  disabled={$trackStopPlayingSuccess === true}
  on:click={handleClickToStop}
>
  Zatrzymaj odtwarzanie
</button>
