<script lang="ts">
  import { isAdmin } from "../stores";
  import AcceptTrackButton from "../components/AcceptTrackButton.svelte";
  import RejectTrackButton from "../components/RejectTrackButton.svelte";
  import DeleteTrackFromQueueButton from "../components/DeleteTrackFromQueueButton.svelte";
  import { url } from "@roxi/routify";
  import { DateTime } from "luxon";

  export let title = "Unknown title";
  export let duration: number | null;
  export let trackUrl: string;
  export let datetime: string | null;
  export let status: string | null;

  const localizedDatetime = DateTime.fromHTTP(datetime)
    .setLocale("pl")
    .toLocaleString(DateTime.DATETIME_FULL);
</script>

<div class="track {$isAdmin === true ? 'with-track-admin-buttons' : ''}">
  <div class="track-info">
    <a href={trackUrl} target="_blank" rel="noopener noreferrer">{title}</a>
    {#if duration}
      <div class="track-duration">Długość utworu: {duration}s</div>
    {/if}
    {#if datetime}
      <div class="track-datetime">{localizedDatetime}</div>
    {/if}
  </div>

  <div
    class="track-buttons {$isAdmin === true ? 'with-track-admin-buttons' : ''}"
  >
    <a
      class="button add-track-queue-btn is-medium"
      href={$url("/add", { trackUrl: trackUrl })}>Dodaj</a
    >

    {#if $isAdmin}
      {#if datetime}
        <DeleteTrackFromQueueButton {trackUrl} {datetime} />
      {:else}
        <RejectTrackButton {trackUrl} />
        {#if status !== "zaakceptowane"}
          <AcceptTrackButton {trackUrl} />
        {/if}
      {/if}
    {/if}
  </div>
</div>

<style>
  .add-track-queue-btn {
    background-color: var(--color-school-main);
    color: var(--color-isabelline);
    font-weight: 600;
  }
  .track-info > a {
    font-size: 1.5rem;
  }
  .track-info {
    margin-right: 10px;
  }

  .track-duration {
    font-size: 1.2rem;
  }

  .track-buttons {
    display: flex;
    justify-content: flex-end;
  }

  .track {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid var(--color-dark-lava);
    padding: 10px;
    background-color: var(--color-isabelline);
    max-width: min(90vw, 700px);
    max-height: fit-content;
  }

  .track-buttons.with-track-admin-buttons {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .track-buttons.with-track-admin-buttons .button {
    margin-block: 5px;
  }
</style>
