<script lang="ts">
  import { onMount } from "svelte";

  import Notification from "../../components/Notification.svelte";
  import { accountsUri } from "../../constants";
  import { fetchJsonResponse } from "../../utils";

  async function getAccountsList() {
    const [response, , errorRespMessage] = await fetchJsonResponse(
      accountsUri,
      { timeout: 4000 }
    );
    if (response) {
      return response;
    } else {
      throw new Error(errorRespMessage);
    }
  }

  function refreshAccountList() {
    promise = getAccountsList();
  }

  function confirmDeletingAccount(email: string) {
    accountEmailToDelete = email;
  }

  async function deleteAccount() {
    const [, statusCode] = await fetchJsonResponse(accountsUri, {
      method: "DELETE",
      body: JSON.stringify({ email: accountEmailToDelete }),
      headers: new Headers({ "content-type": "application/json" }),
      timeout: 7000
    });
    if (statusCode === 204) {
      message = "Usunięto konto administratora " + accountEmailToDelete;
      accountEmailToDelete = "";
      refreshAccountList();
    } else {
      message = "Wystąpił błąd podczas usuwania konta";
    }
  }

  async function addAccount() {
    if (newAccountIdentificator.length !== 21) {
      message = "Identyfikator konta powinien mieć 21 znaków";
      return;
    }
    const [, statusCode] = await fetchJsonResponse(accountsUri, {
      method: "POST",
      body: JSON.stringify({
        identificator: newAccountIdentificator,
        email: newAccountEmail,
        name: newAccountName
      }),
      headers: new Headers({
        "content-type": "application/json"
      }),
      timeout: 7000
    });
    if (statusCode === 204) {
      message = "Pomyślnie dodano konto administratora";
      newAccountIdentificator = "";
      newAccountName = "";
      newAccountEmail = "";
      refreshAccountList();
    } else if (statusCode === 409) {
      message =
        "Konto z takim identyfikatorem już jest na liście administatorów";
    } else {
      message = "Wystąpił problem z dodawaniem nowego konta";
    }
  }
  let newAccountIdentificator: string = "";
  let newAccountName: string = "";
  let newAccountEmail: string = "";

  let promise: Promise<object>;
  let message: string = "";
  let accountEmailToDelete: string = "";

  onMount(() => {
    refreshAccountList();
  });
</script>

{#if message}
  <Notification {message} cls={"top-margined"} />
{/if}
<div class="admin-accounts">
  <table id="admin-accounts-list" class="table is-striped is-bordered">
    <thead>
      <tr>
        <th>Identyfikator</th>
        <th>Imię i nazwisko</th>
        <th>Email</th>
        <th>Akcja</th>
      </tr>
    </thead>
    <tbody>
      {#if promise}
        {#await promise}
          <progress class="progress is-large is-info" max="100" />
        {:then response}
          {#if response instanceof Array}
            {#if response.length > 0}
              {#each response as account}
                <tr>
                  <td>{account["identificator"]}</td>
                  <td>{account["name"]}</td>
                  <td>{account["email"]}</td>
                  <td>
                    <button
                      class="button is-danger is-small"
                      on:click={() => confirmDeletingAccount(account["email"])}
                    >
                      Usuń
                    </button>
                  </td>
                </tr>
              {/each}
            {/if}
          {:else}
            <p>Nieprawidłowy format odpowiedzi serwera</p>
          {/if}
        {:catch error}
          <tr>Błąd wczytywania administratorów: {error}</tr>
        {/await}
      {/if}
      <tr>
        <td
          id="new-account-id"
          contenteditable="true"
          bind:textContent={newAccountIdentificator}
        />
        <td
          id="new-account-name"
          contenteditable="true"
          bind:textContent={newAccountName}
        />
        <td
          id="new-account-email"
          contenteditable="true"
          bind:textContent={newAccountEmail}
        />
        <td>
          <button class="button is-success is-small" on:click={addAccount}>
            Dodaj
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="modal {accountEmailToDelete ? 'is-active' : ''}">
    <div class="modal-background" />
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Usuwanie konta administratora</p>
        <button
          class="delete"
          aria-label="close"
          on:click={() => {
            accountEmailToDelete = "";
          }}
        />
      </header>
      <section class="modal-card-body">
        {#if accountEmailToDelete}
          Zamierzasz usunąć konto <strong>{accountEmailToDelete}</strong>
          z listy administratorów.
        {/if}
      </section>
      <footer class="modal-card-foot">
        <button
          class="button"
          disabled={!accountEmailToDelete}
          on:click={deleteAccount}
        >
          Usuń
        </button>
        <button
          class="button is-info"
          on:click={() => {
            accountEmailToDelete = "";
          }}
        >
          Anuluj
        </button>
      </footer>
    </div>
  </div>

  <button class="button is-info" on:click={refreshAccountList}>
    Odśwież listę
  </button>
</div>

<style>
  #admin-accounts-list {
    overflow-x: auto;
    width: 90vw;
    display: block;
  }
  .admin-accounts {
    margin: 1rem;
    display: block;
  }
  td {
    vertical-align: middle;
  }
  .is-small {
    font-weight: 700;
  }
</style>
