<script lang="ts">
  import GoogleSignIn from "../../components/GoogleSignIn.svelte";
  import {
    isAdmin,
    adminAuthenticatedMessage,
    trackManagePlayingResponse,
    trackManageSuccess
  } from "../../stores";
  import Notification from "../../components/Notification.svelte";

  import StartMusicButton from "../../components/StartMusicButton.svelte";
  import StopMusicButton from "../../components/StopMusicButton.svelte";
  import FixedErrorButton from "../../components/FixedErrorButton.svelte";
  import { checkIfAuthenticatedByServer, fetchData } from "../../utils";
  import {
    backendServerHealthUrl,
    musicPlayerHealthUrl,
    notifierHealthUrl
  } from "../../constants";

  let healthPromisePending = false;
  let promisePending = false;
  let backendAlive = 0;
  let notifierAlive = 0;
  let musicPlayerAlive = 0;

  async function checkIfAdmin(): Promise<void> {
    promisePending = true;
    const authenticated = await checkIfAuthenticatedByServer();
    promisePending = false;

    if (authenticated) {
      isAdmin.markAsAuthorized();
    } else {
      isAdmin.reset();
    }
  }

  async function checkServersHealth() {
    healthPromisePending = true;
    const backendPromise = fetchData(backendServerHealthUrl, {
      timeout: 3000
    });
    const notifierPromise = fetchData(notifierHealthUrl, {
      timeout: 3000
    });
    const musicPlayerPromise = fetchData(musicPlayerHealthUrl, {
      timeout: 3000
    });
    const [backendResponse] = await backendPromise;
    const [notifierResponse] = await notifierPromise;
    const [musicPlayerResponse] = await musicPlayerPromise;
    backendAlive = backendResponse ? backendResponse.status : -1;
    notifierAlive = notifierResponse ? notifierResponse.status : -1;
    musicPlayerAlive = musicPlayerResponse ? musicPlayerResponse.status : -1;
    healthPromisePending = false;
  }
</script>

<div id="main">
  <div><h1 class="title">Panel administracyjny</h1></div>
  {#if $adminAuthenticatedMessage}
    <Notification
      cls="centered"
      message={$adminAuthenticatedMessage}
      type={$isAdmin ? "is-success is-light" : "is-warning"}
    />
  {/if}
  <div class="auth-buttons">
    {#if !$isAdmin}
      <GoogleSignIn />
    {/if}
    <button
      class="button is-info is-medium
      {promisePending ? 'is-loading' : ''}"
      on:click={checkIfAdmin}
    >
      Sprawdź uwierzytelnienie
    </button>
  </div>
  {#if $isAdmin === true}
    <hr />
    {#if $trackManagePlayingResponse}
      <Notification
        cls="centered is-light"
        message={$trackManagePlayingResponse}
        type={$trackManageSuccess ? "is-success" : "is-danger"}
      />
    {/if}
    <div class="track-manage-buttons section">
      <StartMusicButton />
      <StopMusicButton />
      <FixedErrorButton />
    </div>
  {/if}

  <hr />

  <div class="services-health">
    <table class="table is-striped is-bordered">
      <thead>
        <tr>
          <th>Serwis</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Backend</td>
          <td
            class={200 <= backendAlive && backendAlive < 400
              ? "is-success"
              : "is-danger"}
            >{backendAlive}
          </td>
        </tr>
        <tr>
          <td>Serwis powiadamiający</td>
          <td
            class={200 <= notifierAlive && notifierAlive < 400
              ? "is-success"
              : "is-danger"}>{notifierAlive}</td
          >
        </tr>
        <tr>
          <td>Odtwarzacz muzyczny</td>
          <td
            class={200 <= musicPlayerAlive && musicPlayerAlive < 400
              ? "is-success"
              : "is-danger"}
            >{musicPlayerAlive}
          </td>
        </tr>
      </tbody>
    </table>
    <button
      id="check-servers-health-btn"
      class="button is-info is-rounded is-outlined {healthPromisePending
        ? 'is-loading'
        : ''}"
      on:click={checkServersHealth}>Sprawdź</button
    >
  </div>
</div>

<style>
  .auth-buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 5vmin;
    gap: 5vmin;
    align-items: center;
  }
  :global(.centered) {
    margin: 0 auto;
  }
  .section {
    justify-content: center;
    align-items: center;
  }

  .title {
    padding: 1.5rem 4rem 1.5rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }
  .track-manage-buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5vmin;
    align-items: center;
  }
  :global(#g_id_onload) {
    display: none;
  }
  .services-health {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.3rem;
  }
  hr {
    height: 10px;
  }
  .is-success,
  .is-danger {
    text-align: center;
  }

  #check-servers-health-btn {
    max-width: fit-content;
    margin-bottom: 1rem;
  }
  table {
    max-width: fit-content;
  }
</style>
